.usecolor {
  background-color:#41CCAD;
}

:root {
  --main-color: #4a76a8;
}

.bg-main-color {
  background-color: var(--main-color);
}

.text-main-color {
  color: var(--main-color);
}

.border-main-color {
  border-color: var(--main-color);
}

.textstylecolor {
  color:#1A2956;
}

.backcustomcolor {
  background-color:#1A2956;
}

.bordercolor {
  border-color: #ff0000;
}
.deletestylecolor {
  color: #ff0000;
}
.themeusercolor {
  color: #41CCAD;
}